<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/gameBar.css">
</head>

<body>
    <div>
        <a href='/' id="partials-header-logo">
            <h1 class='partials-header' id="partials-header-title"><%- pageName %></h1>
            <div id="partials-header-version"><%- version %></div>
        </a>
        <p class='partials-header' id="partials-header-user">Logged in as <%- user %></p><button class="partials-header"
            id="partials-header-logout-button" onclick="location.href='/logout'">Logout</button>
        <hr class='partials-header' id="partials-header-hr" />
    </div>
</body>

<script>
    let splashList = [
        "New games coming soon!",
        "Check out the changelog for updates!",
        "Now with more colors!",
        "Totally not a stolen idea!",
        "Steven fix it",
        "Landon landon landon",
        "Insert ChatGPT prompt",
        "It no worky",
        "RIP Formpix, 202x-2026",
        "Your mother",
        "Don't refresh games, it'll softlock you :D",
        "We are NOT a dictatorship",
        "Totally 100% accurate to the originals",
        "Favicons suck",
        "I told yall stop playin'",
        "Now with more Taco Bell",
        "Obama have dih",
        "This is NOT a Minecraft reference",
        "67",
        "69",
        "Cass is racist",
        "Gabby you're late",
        "Hayden get off your phone your girlfriend can wait",
        "Is there a Christian Martian in here?",
        "Uppercase Kris approves",
        "WE love capitalism",
        "I should've gotten Pogipedia bro",
        "I'm not paid enough for this",
        "Chrissy Kirk",
        "#1 CSS Developer", // make sure this one is in the wrong spot / janky
        "Jubekar",
        "Days since last bug: 0",
        "The one pog is real",
        `"Ebanks that's the blackest thing I've ever seen you do" ~ Mr. Smith`,
        "No boy touching",
        "formbeta.yorktechapps.com",
        "Kayden get off silksong",
        "RIP Quiz Queue, you won't be missed",
        "Just get better"
    ];
</script>

</html>