<%- include('partials/header') %>

    <script>
        var link = document.createElement('link');
        link.rel = 'icon';
        link.type = 'image/png';
        link.href = '/index/favicon.png';
        document.head.appendChild(link);
    </script>

    <head>
        <title>Gamebar - Home</title>
    </head>

    <body>

        <!-- CHANGELOG BUTTON -->
        <div id="changelog-button-div">
            <button class="game-button" id="changelog" onclick="location.href='/changes'"><img
                    src="index/file.png"></button>
        </div>

    </body>
    
    <script>
        function Button(route, img, text) {
            this.route = route;
            this.img = img;
            this.text = text;
        }

        var buttons = [
            new Button('/2048', '2048/logo2048.png', '2048'),
            new Button('/snake', 'snake/logoSnake.png', 'Snake'),
            new Button('/stack', 'stack/logoStack.png', 'Stack'),
            new Button('/alchemy', 'alchemy/logoAlchemy.png', 'Alchemy'),
            new Button('#', 'index/wip.png', 'Solitaire'),
            new Button('#', 'index/wip.png', 'Pac-Man'),
            new Button('#', 'index/postponed.png', 'Virtual Pet'),
            new Button('#', 'index/postponed.png', 'Minesweeper'),
            new Button('#', 'index/postponed.png', 'Tetris'),
            new Button('#', 'index/postponed.png', 'Rock, Paper, Scissors'),
            new Button('#', 'index/postponed.png', 'Tic Tac Toe'),
            new Button('#', 'index/postponed.png', 'Uno'),
        ];

        buttons.forEach(button => {
            var buttonDiv = document.createElement('div');
            buttonDiv.className = 'button-divs';

            var buttonElement = document.createElement('button');
            buttonElement.className = 'game-button';
            buttonElement.onclick = () => location.href = button.route;

            var imgElement = document.createElement('img');
            imgElement.className = 'button-images';
            imgElement.src = button.img;
            buttonElement.appendChild(imgElement);

            var labelBox = document.createElement('div');
            labelBox.className = 'label-box';

            var label = document.createElement('span');
            label.className = 'game-labels';
            if (button.text.length >= 18) {
                var fullText = button.text;
                button.text = fullText.substring(0, 15) + '...';
            } else {
                var fullText = button.text;
            }
            label.innerHTML = button.text;
            labelBox.appendChild(label);
            buttonDiv.appendChild(buttonElement);
            buttonDiv.appendChild(labelBox);

            buttonElement.addEventListener('mouseover', () => {
                buttonElement.style.transform = 'scale(0.95)';
                buttonElement.style.boxShadow = '0 0 15px #4d664d';
                label.innerHTML = fullText;
                var expandedHeight = Math.max(20, labelBox.scrollHeight);
                labelBox.style.height = expandedHeight + 'px';
            });
            buttonElement.addEventListener('mouseout', () => {
                buttonElement.style.transform = 'scale(1)';
                buttonElement.style.boxShadow = 'none';
                labelBox.style.height = '20px';
                label.innerHTML = button.text;
            });




            document.body.appendChild(buttonDiv);
        });

        let changeLogButton = document.getElementById('changelog');
        changeLogButton.addEventListener('mouseover', () => {
            changeLogButton.style.transform = 'scale(0.95)';
            changeLogButton.style.boxShadow = '0 0 15px #4d664d';
        });
        changeLogButton.addEventListener('mouseout', () => {
            changeLogButton.style.transform = 'scale(1)';
            changeLogButton.style.boxShadow = 'none';
        });

        // function gameLoop() {

        //     requestAnimationFrame(gameLoop);
        // }

        // gameLoop();

    </script>

    </html>